@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

:root {
    --cor-bonita: rgb(46, 46, 46);
}

.navbarContainer{
    margin-top: 1%;
    padding-bottom: 2px;
    margin-left: 3%;
}

.tabela{
    overflow-x: auto;
}

.navContainer{
border-bottom: 1px solid black;
margin-top: 1%;
padding-bottom: 2px;
}

.homeContainer{
    margin-top: 3%;  
}
.titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 3.0em;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    color: hsl(0, 71%, 22%);
    
}

.pageContainer{
    background-image: url(./imgs/enfermagem.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    padding-top: 0%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

h3, h4, h5{
    font-family: 'Nunito', sans-serif;
    color: #942222;
}

.mainContainer{
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
}

p{
    /*font-family: 'Times New Roman', Times, serif;*/
    font-size: 1.1em;
    color: black;
    text-align: justify;
    text-indent: 2em;
}

figure{
    text-align: center;
}

figcaption{
    padding: 5px;
    font-style: italic;
}

ul, li{
    padding: 5px;
    font-size: 1.1em;
}

.pgBaixar{
    margin: 1%;
    padding: 1%;
    width: 40%;
    border: 2.5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    -webkit-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
    color: hsl(0, 0%, 0%);
    background-color:white;
    display: block;
    margin: 0px auto;
}

.pgBaixar:hover{
    border-radius: 25px; 
    border-color: #040404; 
    opacity: 100%;
    transition: all, 1s;
    background-color: hsl(0, 0%, 90%);
    display: block;
    margin: 0px auto;
}

.txt-baixar{
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
}

.buttonDownload {
	display: block;
	position: relative;
    width: 8rem;
	padding: 10px 25px;
    margin-left: auto;
    margin-right: auto;
	background-color: #00a3e9;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #00B6E9;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: black;
}

.buttonDownload:hover:after {
	border-top-color:  black;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
        margin-left: 1px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
        margin-left: 1px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
        margin-left: 1px;
	}
	
	100% {
		margin-top: 0;
        margin-left: 1px;
		opacity: 0;
	}
}

#imgMenor{
    width: 60%;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

footer {
    background-color: var(--cor-bonita);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    justify-content: space-around;
}

.footer-title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: white;
}

.footer-subtitle{
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.footer-list, .footer-obj {
    width: fit-content;
    color: white;
}

.footer-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer-list ul li {
    width: fit-content;
}

.footer-icon{
    display: flex;
    justify-content: center;
}

.footer-final{
    margin-left: 15%;
    text-align: justify;
}

@media print {
    .navbarContainer, footer, .breadcrumb, .pgBaixar{
        display: none;
    }

    .pageContainer{
        height: 20%;
    }

    .titulo{
        margin-top: 2%;
        margin-bottom: 2%;
        color: #942222;
        
    }

    tr, td, th, ul, li, p{
        font-size: 0.8em
    }

    tr, td, th{
        border: 1px solid black;
    }
    
}

@media screen and (max-width: 780px){

    .titulo{
        font-size: 1.5em;
    }

    img{
        width: 70%;
    }

    p{
        font-size: 0.8em;
    }

    :root {
        width: calc(100vw - padding - margin);
    }
    
    ul, li{
        font-size: 0.9em;
    }

    table, tr, th, td{
        font-size: 1.0em;
    }

    figcaption{
        font-size: 0.7em;
    }

    .footer-final{
        text-align: justify;
        margin-left: 1%;
        font-size: 0.8em
    }

    #footer-img{
        width: 13rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-title{
        font-size: 0.8em;
    }

    footer{
        font-size: 1.3em;
    }
   
    .pgBaixar{
        width: 13rem;
        padding: 9px;
    }

}


