@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

:root {
    --cor-bonita: rgb(46, 46, 46);
}


.navbarContainer{
    margin-top: 1%;
    padding-bottom: 2px;
    margin-left: 3%;
}

.tabela{
    overflow-x: auto;
}

.navContainer{
border-bottom: 1px solid black;
margin-top: 1%;
padding-bottom: 2px;
}

.homeContainer{
    margin-top: 3%;  
}

.titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 3.0em;
    text-align: center;
    color: #000000;
}

.pageContainer{
    background-image: url(./imgs/enfermagem.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: fit-content;
    padding-top: 0%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

h3, h4, h5{
    font-family: 'Nunito', sans-serif;
    color: #942222;
}


.mainContainer{
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
}

p{
    /*font-family: 'Times New Roman', Times, serif;*/
    font-size: 1.1em;
    color: black;
    text-align: justify;
    text-indent: 2em;
}

figure{
    text-align: center;
}

figcaption{
    padding: 5px;
    font-style: italic;
}

li{
    padding: 5px;
    font-size: 1.1em;
}

#imgMenor{
    width: 60%;
}

footer {
    background-color: var(--cor-bonita);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    justify-content: space-around;
}

.footer-title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: white;
}

.footer-subtitle{
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.footer-list, .footer-obj {
    width: fit-content;
    color: white;
}

.footer-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer-list ul li {
    width: fit-content;
}

.footer-icon{
    display: flex;
    justify-content: center;
}

.footer-final{
    margin-left: 15%;
    text-align: justify;
}

@media screen and (max-width: 780px){

    .titulo{
        font-size: 1.5em;
    }

    img{
        width: 70%;
    }

    p{
        font-size: 0.8em;
    }

    :root {
        width: calc(100vw - padding - margin);
    }
    
    ul, li{
        font-size: 0.9em;
    }

    table, tr, th, td{
        font-size: 1.0em;
    }

    figcaption{
        font-size: 0.7em;
    }

    .footer-final{
        text-align: justify;
        margin-left: 1%;
        font-size: 0.8em
    }

    #footer-img{
        width: 13rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-title{
        font-size: 0.8em;
    }

    footer{
        font-size: 1.3em;
    }
   

}


